.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar-logo {
  width:150px;
}

#top-border {
  display: flex;
  width: stretch;
  height: 65px;
  max-width: 100%;
  background-color: #6d22d7;
  color: white;
  align-items: center;
}
#top-border a {
  color:white;
  text-decoration: none;
  margin-left: 15px;
}
